.api-content{
    height: 1003px;
    padding-top: 60px;
    background-color: #efefef;
}
.api-de{
    width: 1200px;
    margin: auto;
    padding: 10px;
    height: 27px;
    
    line-height: 27px;
}
.api-color{
    background-color: #f7f7f7;
    height: 47px;
}
.api-de .right{
    float:right;
}
.api-de a{
    float: left;
}
.api-de .number{
    width: 55px;
    height: 27px;
    text-align: center;
}
.api-de .blue{
    background-color: #3eb3e9;
    border-radius: 10px 0 0 10px;
}
.api-de .wite{
    height: 25px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    border: 1px solid #3eb3e9;
}
.api-source{
    width: 1200px;
    margin: 50px auto 0;
}
.api-source h3{
    color: #333;
    font-size: 20px;
    line-height: 30px;
}
.api-source .line{
    width: 40px;
    height: 2px;
    margin: 10px 0 20px;
    background-color: #333;
}
.api-source .item{
    height: 160px;
}
.api-source .item a{
    
    float: left;
    display: block;
    box-sizing: border-box;
    width: 224px;
    height: 160px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    text-align: center;
}
.api-source .item a:hover{
    border: 1px solid #00a0ff;
    opacity: 0.8;

}
.api-source .item a:nth-of-type(5){
    margin-right: 0px;
}
.api-source .item a .icon{
    margin-top: 20px;
}
.api-source .item a .desc{
    font-size: 18px;
    color: #333;
}
.api-item-item{
    float: left;
    width: 386px;
    margin: 0 20px 10px 0;
    padding: 13px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;

}
.api-item-item:nth-of-type(3), .api-item-item:nth-of-type(6){
    margin-right: 0;
}
.api-item-item-icon{
    float: left;
    width: 30px;
    margin-right: 10px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    color: #00a0ff;
   


}
.api-item-item-icon img{
    width: 100%;
    height: 100%；
}
.api-item-item-des{
    float: left;
    font-size: 16px;
    line-height: 30px;
    color: #333;

}
.api-item-item-see{
    float: right;
    padding: 5px 20px;
    color: #666;
    border: 1px solid #00a0ff;
    border-radius: 20px;
    background-color: #fff;

}